<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>vaccinations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>

<div id="appcontainer" ng-app="vaccinations">
<!-- <div id="appcontainer"> -->

    <div class="container" ng-controller="MainController">

        <loader></loader>

        <!-- ADD SECTION -->
        <div class="add-vaccination-wrapper">

                <h5 class="add-vaccination-header">Add New Vaccination</h5>

                <div class="add-vaccination-select-wrapper">
                    <select class="form-control add-vaccination" ng-model="newVaccine" ng-options="vaccines as formatVaccine(vaccines) for vaccines in vaccines"></select>
                </div>

                <div class="form-button-wrapper">
                    <button ng-if="newVaccine"  class="btn btn-info" ng-click="stageVaccination(newVaccine, false)"><strong>Administer</strong></button>

                    <button ng-if="newVaccine" class="btn btn-primary" ng-click="stageVaccination(newVaccine, true)"><strong>Schedule</strong></button>
                </div>


            <div class="staged-wrapper" ng-if="stagedVaccinations.length > 0">

                <!-- STAGED VACCINATIONS -->
                <vaccination ng-if="stagedVaccinations" get-vaccination="stagedVaccinations[0]"></vaccination>
                <!-- /STAGED VACCINATION -->

            </div>

        </div>
        <!-- /SEARCH ADD SECTION -->

        <!-- VACCINATIONS -->
        <div class="vaccinations-wrapper">

            <!-- SCHEDULED VACCINATIONS -->
            <div class="scheduled-header"><span class="label label-default section-label">Scheduled</span></div>
            <div ng-repeat="(name, vaccinationsGroup) in vaccinations | filter: {scheduled: 'true'} | groupBy: 'name'">
                <div class="vaccination-group-header" >{{ ::name }}</div>
                <vaccination get-vaccination="vaccination" ng-repeat="vaccination in vaccinationsGroup | orderBy: ['dose_number']"></vaccination>
            </div>

            <!-- UNSCHEDULED VACCINATIONS -->
            <div class="not-scheduled-header"><span class="label label-default section-label">Unscheduled</span></div>
            <div ng-repeat="(name, vaccinationsGroup) in vaccinations | filter: {scheduled: 'false'} | groupBy: 'name'">
                <div class="vaccination-group-header" >{{ ::name }}</div>
                <vaccination get-vaccination="vaccination" ng-repeat="vaccination in vaccinationsGroup | orderBy: ['scheduled_date']"></vaccination>
            </div>

        </div>
        <!-- /VACCINATIONS -->

    </div>
     <!-- TEMPLATES -->

    <!-- LOADER -->
    <script type="text/ng-template" id='/app/loader/loader.template.html'>
        <div ng-if="state.loading || state.success" class="loader">
            <div ng-if="state.loading" class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
            <div ng-if="state.success" class="success-check">
                <i class="fa fa-check fa-5x"></i>
            </div>
        </div>
    </script>
    <!-- /LOADER -->

    <!-- FEEDBACK -->
    <script type="text/ng-template" id="/app/feedback/feedback.template.html">
        <div ng-show="warn()" class="form-warning">
            <div class="alert alert-warning"><strong>{{ warning }}</strong></div>
        </div>
    </script>
    <!-- /FEEDBACK -->

    <!-- ADMINISTERED VACCINATION -->
    <script type="text/ng-template" id="/app/vaccination/administered/vaccination_administered.template.html">
        <!-- ADMINISTERED TEMPLATE -->
        <div ng-controller="AdminVaccinationController" class="vaccination administered">

            <!-- ADMINISTERED HEADER -->
            <div class="header administered-header" ng-class="{'adverse-header': enteredEditFormData.adverse_reaction_observed, 'last-of-kind': lastOfKind}">

                <i ng-if="!enteredEditFormData.adverse_reaction_observed" class="fa fa-check-circle-o fa-lg admin-check"></i>

                <i ng-if="enteredEditFormData.adverse_reaction_observed" class="fa fa-check-circle-o fa-lg admin-check-reaction"></i>

                <span ng-if="enteredEditFormData.adverse_reaction_observed" class="label label-danger adverse-label">Adverse Reaction</span>

                <span ng-if="enteredEditFormData.dose_number">
                    <span class="dose-number-label">Dose Number: </span>
                    <span class="dose-number">{{ ::enteredEditFormData.dose_number }}</span>
                </span>

                <span class="administered-label">Administered: </span><span class="administered-date">{{ ::enteredEditFormData.administration_date | date: 'mediumDate' }}</span>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-class="{'active': state.editFormOpen}" ng-click="toggleEditForm()">Details</button>

                    <button type="button" class="btn btn-danger" ng-class="{'active': state.adverseFormOpen}" ng-click="toggleReactionForm()" ng-if="!enteredEditFormData.adverse_reaction_observed">Add Reaction</button>

                    <button class="btn btn-danger" ng-class="{ 'active': state.adverseFormOpen }" ng-click="toggleReactionForm()" ng-if="enteredEditFormData.adverse_reaction_observed">Reaction Details</button>
                </div>
            </div>
            <!-- /HEADER -->

            <!-- EDIT FORM -->
            <div ng-if="state.editFormOpen" class="form-wrapper">
            <form  name="form" novalidate>

                    <div class="form-group">
                        <label>Adminstration Date</label>
                        <input name="administration_date" class="form-control" type="date" ng-model="enteredEditFormData.administration_date" placeholder="Date" required>
                    </div>
                    <feedback warn="form.administration_date.$error.date" warning="Enter a valid administration date."></feedback>

                    <div class="form-group" ng-if="enteredEditFormData.dose_number">
                        <label>Course Number</label>
                        <input disabled="disabled" class="form-control" type="text" ng-model="enteredEditFormData.dose_number" placeholder="Dose In Course">
                    </div>

                    <div class="form-group">
                        <label>Dose</label>
                        <input name="dose" class="form-control" type="number" ng-model="enteredEditFormData.dose" placeholder="Dose"required>
                    </div>
                    <feedback warn="form.dose.$error.number || form.dose.$error.required" warning="Enter a valid dose size. For ex .5, 2..."></feedback>

                    <div class="form-group">
                        <label>Units</label>
                        <input name="dosing_unit" class="form-control" type="text" ng-model="enteredEditFormData.dosing_unit" placeholder="Units"required>
                    </div>
                    <feedback warn="form.dosing_unit.$error.required" warning="Enter a valid dosing unit. For example ml, drops..."></feedback>

                    <div class="form-group">
                        <label>Route</label>
                        <input name="route" class="form-control" type="text" ng-model="enteredEditFormData.route" placeholder="Route" required>
                    </div>
                    <feedback warn="form.route.$error.required" warning="Enter a valid administrationg route. For example intradermal, oral..."></feedback>

                    <div class="form-group">
                        <label>Body Site Administered</label>
                        <input name="body_site_administered" class="form-control" type="text" ng-model="enteredEditFormData.body_site_administered" placeholder="Body Site Administered" required>
                    </div>
                    <feedback warn="form.body_site_administered.$error.required" warning="Enter a valid site. For example right outer thigh, left outer shoulder..."></feedback>

                    <div class="form-group">
                        <label>Manufacturer</label>
                        <input name="manufacturer" class="form-control" type="text" ng-model="enteredEditFormData.manufacturer" placeholder="Manufacturer" required>
                    </div>
                    <feedback warn="form.manufacturer.$error.required" warning="Enter a valid manufacturer. For example Pfizer, Procter and Gamble..."></feedback>

                    <div class="form-group">
                        <label>Lot Number</label>
                        <input name="lot_number" class="form-control" type="text" ng-model="enteredEditFormData.lot_number" placeholder="Lot Number" required>
                    </div>
                   <feedback warn="form.lot_number.$error.required" warning="Enter a valid vaccine lot number."></feedback>

                    <div class="form-group">
                        <label>Manufacture Date</label>
                        <input name="manufacture_date" class="form-control" type="date" ng-model="enteredEditFormData.manufacture_date" placeholder="Manufacture Date">
                    </div>
                   <feedback warn="form.manufactur_date.$error.required || form.manufacture_date.$error.date" warning="Enter a valid manufacture date."></feedback>

                    <div class="form-group">
                        <label>Expiry Date</label>
                        <input name="expiry_date" class="form-control" type="date" ng-model="enteredEditFormData.expiry_date" placeholder="Expiry Date">
                    </div>
                    <feedback warn="form.expiry_date.$error.required || form.expiry_date.$error.date" warning="Enter a valid expiry date."></feedback>

                    <div class="clearfix form-button-wrapper">
                    <!-- cannot delete scheduled vaccines. -->

                        <button type="button" class="btn btn-default" ng-click="resetFormDataToDefaults()">Reset</button>

                        <button type="button" class="btn btn-danger" ng-if="!enteredEditFormData.scheduled" ng-click="deleteVaccination(enteredEditFormData)">Delete</button>

                        <button type="button" class="btn btn-warning" ng-click="unadministerVaccination(enteredEditFormData)">Unadminister</button>

                        <button ng-if="form.$valid" type="submit" class="btn btn-primary" ng-click="updateVaccination(enteredEditFormData)">Update</button>
                    </div>
            </form>
            </div>
            <!-- /EDIT FORM -->

            <!-- ADVERSE REACTION FORM -->
            <div class="form-wrapper" ng-if="state.adverseFormOpen">
                <form name="form"  novalidate>

                    <div class="form-group">
                        <label>Date</label>
                        <input name="date" class="form-control" type="date" ng-model="enteredAdverseFormData.date" placeholder="Date" required>
                    </div>
                    <feedback warn="form.date.$error.date" warning="Enter a valid reaction date."></feedback>

                    <div class="form-group">
                        <label>Grade</label>
                        <select name="grade" class="form-control" ng-model="enteredAdverseFormData.grade" required>
                            <option selected="selected" value="160754">Adverse Reaction Grade 1</option>
                            <option value="160755">Adverse Reaction Grade 2</option>
                            <option value="160756">Adverse Reaction Grade 3</option>
                            <option value="160757">Adverse Reaction Grade 4</option>
                            <option value="160758">Adverse Reaction Grade 5</option>
                        </select>
                    </div>
                    <feedback warn="form.grade.$error.required" warning="Select a reaction grade."></feedback>

                    <div class="form-group">
                        <label>Adverse Event Description</label>
                        <textarea name="adverse_event_description" class="form-control" type="text" rows="4" ng-model="enteredAdverseFormData.adverse_event_description" placeholder="Description" required></textarea>
                    </div>
                    <feedback warn="form.adverse_event_description.$error.required" warning="Enter a valid adverse event description."></feedback>

                    <div class="form-button-wrapper">
                    <!-- cannot delete scheduled vaccines. -->
                        <button class="btn btn-danger" ng-if="enteredEditFormData.adverse_reaction_observed" ng-click="removeReaction(enteredAdverseFormData)">Delete</button>

                        <button ng-if="!enteredEditFormData.adverse_reaction_observed && form.$valid" class="btn btn-warning" ng-click="addReaction(enteredAdverseFormData, enteredEditFormData)">Submit</button>

                        <button ng-if="enteredEditFormData.adverse_reaction_observed" class="btn btn-warning" ng-click="addReaction(enteredAdverseFormData, enteredEditFormData)">Update</button>
                    </div>
                </form>
            </div>
            <!-- /ADVERSE REACTION FORM -->
        </div>
        <!-- ADMINISTERED TEMPLATE -->
    </script>
    <!-- /ADMINISTERED VACCINATION -->

    <!-- UNADMINISTERED VACCINATION -->
    <script type="text/ng-template" id="/app/vaccination/unadministered/vaccination_unadministered.template.html ">

        <!-- UNADIMISTERED TEMPLATE -->
        <div ng-controller="UnAdminVaccinationController" class="vaccination unadministered">

            <!-- UNADMINISTERED HEADER -->
            <div class="header unadministered-header" >

                <i class="fa fa-circle-o fa-lg unadmin-x"></i>

                <span ng-if="due" class="label label-danger due-label">Due</span>

                <span ng-if="enteredAdminFormData.dose_number" class="header-info">
                    <span class="dose-number-label">Dose Number: </span>
                    <span class="dose-number">{{ ::enteredAdminFormData.dose_number }}</span>
                </span>

                <span ng-if="enteredAdminFormData.indication_name" class="header-info">
                    <span class="indication-label">Indication: </span>
                    <span class="indication-date">{{ ::enteredAdminFormData.indication_name | date: 'mediumDate' }}</span>
                </span>

                <span class="header-info">
                    <span class="scheduled-label">To be administered on: </span>
                    <span class="scheduled-date">{{ ::enteredAdminFormData.scheduled_date | date: 'mediumDate' }}</span>
                </span>
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-info" ng-class="{ 'active': state.administerFormOpen }" ng-click="toggleAdministerForm()">Administer</button>
                </div>
            </div>
            <!-- /HEADER -->

            <!-- ADMINISTRATION FORM -->
            <div ng-if="state.administerFormOpen" class="form-wrapper css-form">

                <form name="form" novalidate>

                    <div class="form-group">
                        <label>Administration Date</label>
                        <input name="administration_date" class="form-control" type="date" ng-model="enteredAdminFormData.administration_date" placeholder="Administration Date"required>
                    </div>
                    <feedback warn="form.administration_date.$error.date" warning="Enter a valid administration date."></feedback>

                    <div class="form-group" ng-if="enteredAdminFormData.dose_number">
                        <label>Course Number</label>
                        <input disabled="disabled" class="form-control" type="text" ng-model="enteredAdminFormData.dose_number" placeholder="Dose in Course">
                    </div>

                    <div class="form-group">
                        <label>Dose</label>
                        <input name="dose" class="form-control" type="number" ng-model="enteredAdminFormData.dose" placeholder="Dose" required>
                    </div>
                    <feedback warn="form.dose.$error.required || form.dose.$error.number" warning="Enter a valid dose. Dose must be a number"></feedback>

                    <div class="form-group">
                        <label>Units</label>
                        <input name="dosing_unit" class="form-control" type="text" ng-model="enteredAdminFormData.dosing_unit" placeholder="Units" required>
                    </div>
                    <feedback warn="form.dosing_unit.$error.required" warning="Enter a valid dosing unit. For example ml, drops..."></feedback>

                    <div class="form-group">
                        <label>Route</label>
                        <input name="route" class="form-control" type="text" ng-model="enteredAdminFormData.route" placeholder="Route" required>
                    </div>
                    <feedback warn="form.route.$error.required" warning="Enter a valid administrationg route. For example intradermal, oral..."></feedback>

                    <div class="form-group">
                        <label>Body Site Administered</label>
                        <input name="body_site_administered" class="form-control" type="text" ng-model="enteredAdminFormData.body_site_administered" placeholder="Body Site Administered" required>
                    </div>
                    <feedback warn="form.body_site_administered.$error.required" warning="Enter a valid site. For example right outer thigh, left outer shoulder..."></feedback>

                    <div class="form-group">
                        <label>Manufacturer</label>
                        <input name="manufacturer" class="form-control" type="text" ng-model="enteredAdminFormData.manufacturer" placeholder="Manufacturer" required>
                    </div>
                    <feedback warn="form.manufacturer.$error.required" warning="Enter a valid manufacturer. For example Pfizer, Procter and Gamble..."></feedback>

                    <div class="form-group">
                        <label>Lot Number</label>
                        <input name="lot_number" class="form-control" type="text" ng-model="enteredAdminFormData.lot_number" placeholder="Lot Number" required>
                    </div>
                    <feedback warn="form.lot_number.$error.required" warning="Enter a valid vaccine lot number."></feedback>

                    <div class="form-group">
                        <label>Manufacture Date</label>
                        <input name="manufacture_date" class="form-control" type="date" ng-model="enteredAdminFormData.manufacture_date" placeholder="Manufacture Date" required>
                    </div>
                    <feedback warn="form.manufacture_date.$error.date" warning="Enter a valid manufacture date."></feedback>

                    <div class="form-group">
                        <label>Expiry Date</label>
                        <input name="expiry_date" class="form-control" type="date" ng-model="enteredAdminFormData.expiry_date" placeholder="Expiry Date" required>
                    </div>
                    <feedback warn="form.expiry_date.$error.date" warning="Enter a valid expiry date."></feedback>

                    <div class="form-button-wrapper">
                        <!-- cannot delete scheduled vaccines only modify. -->
                        <button type="button" class="btn btn-danger" ng-if="!enteredAdminFormData.scheduled" ng-click="deleteVaccination(enteredAdminFormData)">Delete</button>
                        <button type="button" class="btn btn-default" ng-click="resetFormDataToDefaults()">Reset</button>
                        <button ng-show="form.$valid" type="submit" class="btn btn-primary" ng-click="submitVaccination(enteredAdminFormData)">Submit</button>
                    </div>
                </form>
            </div>
            <!-- / ADMINISTRATION FORM -->
        </div>
        <!-- /UNADMINISTERED TEMPLATE -->
    </script>
    <!-- /UNADMINISTERED VACCINATION -->

    <!-- STAGED VACCINATION HEADER -->
    <script type="text/ng-template" id="/app/vaccination/staged/staged_header.template.html">
        <!-- STAGED HEADER -->
        <div class="header unadministered-header staged" >
            <h4 class="drug"><span class="label label-default">{{ enteredAdminFormData.name }}</span></h4>
        </div>
        <!-- /STAGED HEADER -->
    </script>
    <!-- /STAGED VACCINATION HEADER -->

    <!-- STAGED VACCINATION -->
    <script type="text/ng-template" id="/app/vaccination/staged/vaccination_staged.template.html">
        <!-- STAGED TEMPLATE -->
        <div ng-controller="StagedVaccinationController" class="vaccination unadministered">

            <!-- STAGED HEADER -->
            <div class="header unadministered-header staged" >
                <h4 class="drug"><span class="label label-default">{{ enteredAdminFormData.name }}</span></h4>
            </div>
            <!-- /STAGED HEADER -->

            <!-- ADMINISTRATION FORM -->
            <form ng-if="state.administerFormOpen" class="form-wrapper show-hide" name="form" novalidate>
                <div>

                    <div ng-if="enteredAdminFormData._administering" class="form-group">
                        <label>Administration Date</label>
                        <input name="administration_date" class="form-control" type="date" ng-model="enteredAdminFormData.administration_date" placeholder="Date" required>
                    </div>
                    <feedback warn="form.administration_date.$error.date" warning="Enter a valid adminstration date."></feedback>

                     <div ng-if="enteredAdminFormData.custom" class="form-group">
                        <label>Vaccine Name</label>
                        <input name="name" class="form-control" type="text" ng-model="enteredAdminFormData.name" placeholder="Vaccine Name" ng-required="enteredAdminFormData.custom">
                    </div>
                    <feedback warn="form.name.$error.required" warning="Enter a vaccine name."></feedback>

                    <div ng-if="enteredAdminFormData._scheduling" class="form-group">
                        <label>Scheduled Date</label>
                        <input name="scheduled_date" class="form-control" type="date" ng-model="enteredAdminFormData.scheduled_date" placeholder="Scheduled Date" required>
                    </div>
                    <feedback warn="form.scheduled_date.$error.date" warning="Enter a valid scheduled date."></feedback>

                    <div class="form-group">
                        <label>Dose</label>
                        <input name="dose" class="form-control" type="number" ng-model="enteredAdminFormData.dose" placeholder="Dose" ng-required="enteredAdminFormData._administering">
                    </div>
                    <feedback warn="(enteredAdminFormData._administering && form.dose.$error.required || form.dose.$error.number) || enteredAdminFormData._scheduling && form.dose.$error.number" warning="Enter a valid dose size. For ex .5, 2..."></feedback>

                    <div class="form-group">
                        <label>Units</label>
                        <input name="units" class="form-control" type="text" ng-model="enteredAdminFormData.dosing_unit" placeholder="Units" ng-required="enteredAdminFormData._administering">
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.units.$error.required || enteredAdminFormData._scheduling && form.units.$error.text" warning="Enter a valid dosing unit. For example ml, drops..."></feedback>

                    <div class="form-group">
                        <label>Route</label>
                        <input name="route" class="form-control" type="text" ng-model="enteredAdminFormData.route" placeholder="Route" ng-required="enteredAdminFormData._administering">
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.route.$error.required || enteredAdminFormData._scheduling && form.route.$error.text" warning="Enter a valid administrationg route. For example intradermal, oral..."></feedback>

                    <div class="form-group">
                        <label>Body Site Administered</label>
                        <input name="body_site_administered" class="form-control" type="text" ng-model="enteredAdminFormData.body_site_administered" placeholder="Body Site Administered" ng-required="enteredAdminFormData._administering">
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.body_site_administered.$error.required || enteredAdminFormData._scheduling && form.body_site_administered.$error.text" warning="Enter a valid site. For example right outer thigh, left outer shoulder..."></feedback>

                     <div ng-if="enteredAdminFormData._administering" class="form-group">
                        <label>Manufacturer</label>
                        <input name="manufacturer" class="form-control" type="text" ng-model="enteredAdminFormData.manufacturer" placeholder="Manufacturer" required="enteredAdminFormData._administering">
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.manufacturer.$error.required" warning="Enter a valid manufacturer. For example Pfizer, Procter and Gamble..."></feedback>

                    <div ng-if="enteredAdminFormData._administering" class="form-group">
                        <label>Lot Number</label>
                        <input name="lot_number" class="form-control" type="text" ng-model="enteredAdminFormData.lot_number" placeholder="Lot Number" required="enteredAdminFormData._administering">
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.lot_number.$error.required" warning="Enter a valid vaccine lot number."></feedback>

                    <div ng-if="enteredAdminFormData._administering" class="form-group">
                        <label>Manufacture Date</label>
                        <input name="manufacture_date" class="form-control" type="date" ng-model="enteredAdminFormData.manufacture_date" placeholder="Manufacture Date" required>
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.manufacture_date.$error.required || form.manufacture_date.$error.date" warning="Enter a valid manufacture date."></feedback>

                    <div ng-if="enteredAdminFormData._administering" class="form-group">
                        <label>Expiry Date</label>
                        <input name="expiry_date" class="form-control" type="date" ng-model="enteredAdminFormData.expiry_date" placeholder="Expiry Date" required>
                    </div>
                    <feedback warn="enteredAdminFormData._administering && form.expiry_date.$error.required || form.expiry_date.$error.date" warning="Enter a valid expiry date."></feedback>

                    <div class="form-button-wrapper">
                    <!-- cannot delete scheduled vaccines. -->
                        <button type="button" class="btn btn-danger" ng-click="removeStagedVaccination()">Cancel</button>

                        <button ng-if="enteredAdminFormData._administering" type="button" class="btn btn-primary" ng-click="resetFormDataToDefaults()">Reset</button>

                        <button ng-if="enteredAdminFormData._administering && form.$valid" type="submit" class="btn btn-warning" ng-click="saveVaccination(enteredAdminFormData)">Administer</button>

                        <button ng-if="enteredAdminFormData._scheduling && form.$valid" type="submit" class="btn btn-warning" ng-click="scheduleVaccination(enteredAdminFormData)">Schedule</button>
                    </div>
                </div>
            </form>
            <!-- / ADMINISTRATION FORM -->
        </div>
        <!-- /STAGED TEMPLATE -->
    </script>
    <!-- /STAGED VACCINATION -->

    <!-- /TEMPLATES -->
</div>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
